/* This file is not used, it's just to get the color picker in my editor. Ignore it. */
.unused {
    color: rgb(253, 189, 129);
    color: rgb(47, 33, 33);

    color: rgb(201, 229, 241);
    color: rgb(18, 63, 178);
}